<p id="notice"><%= notice %></p>

<h1>Menus</h1>

  <div class="menu">
    <% @menus.each do |menu| %>
       <div class="thumb">
         <%= link_to (image_tag menu.image, :class => "thumb"), menu %>
         <p><%= link_to menu.title, menu %></p>
      <% if @current_user.present? && @current_user.admin? %>
        <p><%= link_to 'Edit', edit_menu_path(menu) %></p>
        <p><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
      <% end %>
    <% end %>
