<div class="main">

<p id="notice"><%= notice %></p>

<% if @current_user == @user %>
<h1>Hello <%= @user.first_name %></h1>
<% else %>
<h1><%= @user.first_name %> </h1>
<% end %>


<%= image_tag @user.image, :class => "thumb"%>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Chef:</strong>
  <%= @user.chef %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @user.rate %>
</p>

<strong>Menus:</strong>
<% @user.menus.each do |menu| %>
<li><%= link_to menu.title, menu %></li>
  <% end %>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
