<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, "error") %>
    prohibited this event from being saved:</h2>
  <ul>
    <% @event.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :description %><br>
  <%= f.text_field :description, :required => true%>
</div>
<div class="field">
  <%= f.label :time %><br>
  <%= f.datetime_select :time, :required => true %>
</div>
<div class="field">
  <%= f.label :suburb %><br>
  <%= f.text_field :suburb, :required => true %>
</div>
<div class="field">
  <%= f.label :address %><br>
  <%= f.text_field :address, :required => true %>
</div>
<div class="field" id="chefField">
  <%= f.label :chef_id %>
  <%= f.select :chef_id, (User.where(:chef => true)).pluck(:first_name,:id), {:prompt => 'Choose Chef'} %>
</div>
<div class="field" id="menuField">
  <%= f.label :menu_availables %><br>
  <%= f.select :menu_id, Menu.pluck(:title,:id), :include_blank => true %>
</div>
<div class="chefMenuField">
  <p>
    This chef has no menus
  </p>
</div>

<div class="field">
  <%= f.label :guests %><br>
  <%= f.number_field :guests%>
</div>
<div class="field" id="chefConfirm">
  <%= f.label :confirm %><br>
  <%= f.check_box :confirm %>
</div>
<button id="calculatePrice">Show Price</button>
<br><br>
<div id="priceField"></div>

<div id="createEventButton" class="actions">
  <%= f.submit %>
</div>
<% end %>
