<div class="background2"></div>

<div class="main">
  <p id="notice"><%= notice %></p>

  <h1>Events</h1>
  <div class="events">


<% if @current_user.user_events.present? %>
<h3>Bookings</h3>
  <h4>Next</h4>
  <% @current_user.user_events.each do |event| %>
    <% if Time.now < event.time %>
      <li><%= link_to event.description, event %>
      <% if event.confirm.nil? %>
        -Waiting for Chef </li>
      <% elsif event.confirm === true %>
        - Confirmed!</li>
      <% elsif event.confirm === false %>
        - Canceled!</li>
      <%end %>
   <%end %>
<% end %>





<h4>Past</h4>
  <% @current_user.user_events.each do |event| %>
    <% if Time.now > event.time %>
      <li><%= link_to event.description, event %></li>
    <% end %>
  <% end %>
<% end %>

<% if @current_user.chef? && @current_user.chef_events.present?  %>
<h3>Events as Chef</h3>
    <% @current_user.chef_events.each do |event| %>
    <% if event.confirm != false %>
    <li><%= link_to event.description, event %></li>
  
    <% end %>
  <% end %>
<% end %>


  <br><br>
  <%= link_to 'New Event', new_event_path, :class => "btn btn-default" %>
</div>
</div>
