<div class="main">

<p id="notice"><%= notice %>


  <h2><%= @event.description %></h2>


  <h4>Time:</h4>
  <li><%= @event.time %></li>

  <h4>Suburb:</h4>
  <li><%= @event.suburb %></li>

  <h4>Address:</h4>
  <li><%= @event.address %></li>

  <h4>Chef:</h4>
  <li><%= @event.chef_id %></li>

  <h4>Menu:</h4>
  <li><%= @event.menu_id %></li>

  <h4>Guests:</h4>
  <li><%= @event.guests %></li>

  <h4>Confirm:</h4>
  <li><%= @event.confirm %></li>

  <h4>Price:</h4>
  <li><%= @event.price %></li>


  <hr>
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
