<div class="main">

<p id="notice"><%= notice %></p>


  <h2><%= @event.description %></h2>



<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @event.suburb %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<p>
  <strong>Chef:</strong>
  <%= @event.chef_id %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @event.menu_id %>
</p>

<p>
  <strong>Guests:</strong>
  <%= @event.guests %>
</p>

<p>
  <strong>Confirm:</strong>
  <%= @event.confirm %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
